<!doctype html>
<html>

<head>
    <title>GNOSIS Client</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <style>
        #fps_other_div {
            display: none;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="centered">
        <h1>Add Publisher</h1>
        <form name="add_publisher">
            <label for="publisher_id"> Publisher ID: </label>
            <input type="text" id="publisher_id" name="publisher_id" value="publisher1"><br><br>

            <label for="publisher_source"> Source (URL): </label>
            <input type="url" id="publisher_source" name="publisher_source" value="rtmp://172.17.0.1/hls/mystream"><br><br>

            <label for="color"> Color: </label><br>
            <input type="radio" id="color_true" name="color_choice" value="color_true">
            <label for="color_ture">True</label><br>
            <input type="radio" id="color_false" name="color_choice" value="color_false">
            <label for="color_false">False</label><br><br>

            <label for="FPS">FPS: </label><br>
            <input type="radio" name="fps_choice" value="30">
            <label for="fps_30">30</label><br>
            <input type="radio" name="fps_choice" value="60">
            <label for="fps_60">60</label><br>
            <input type="radio" name="fps_choice" value="other" checked>
            <label for="fps_other">Other</label><br>
            <div id="fps_other_div">
                <label for="fps_other_value">Please enter value: </label>
                <input type="number" id="fps_other_value" name="fps_other_value" value="10">
            </div><br><br>

            <label for="resolution">Resolution: </label>
            <input type="number" id="resolution_width" name="resolution_width" min=0 max=3840 value=1280>
            <label for="x">x</label>
            <input type="number" id="resolution_height" name="resolution_height" min=0 max=2160 value=720><br><br>

            <input type="submit" id="register_publisher" value="Submit">
        </form>
    </div>

    <script>

        var radios = document.forms["add_publisher"].elements["fps_choice"]
        for (var i = 0; i < radios.length; i++) {
            radios[i].onclick = function () {
                if (this.value == 'other') {
                    document.getElementById('fps_other_div').style.display = 'inline'
                }
                else {
                    document.getElementById('fps_other_div').style.display = 'none'
                }
            }
        }

        const register_publisher = document.getElementById('register_publisher')
        register_publisher.addEventListener("click", registerPublisher);

        function registerPublisher(event) {
            var publisher_id = document.getElementById('publisher_id').value
            var publisher_source = document.getElementById('publisher_source').value
            var color = ""
            if (document.getElementById('color_true').checked) {
                color = 'True'
            } else if (document.getElementById('color_false').checked) {
                color = 'False'
            }

            var fps_choice = document.getElementsByName('fps_choice')
            var fps = ""
            for (var i = 0; i < fps_choice.length; i++) {
                if (fps_choice[i].checked) {
                    fps = fps_choice[i].value
                }
            }

            if (fps == 'other') {
                fps = document.getElementById('fps_other_value').value
            }

            res_width = document.getElementById('resolution_width').value
            res_height = document.getElementById('resolution_height').value

            const msg = {
                "publisher_id": publisher_id,
                "source": publisher_source,
                "stream_key": "pub-cmd-" + publisher_id,
                "meta": {
                    "color": color,
                    "fps": fps,
                    "resolution": res_width + "x" + res_height
                }
            }

            msg_string = JSON.stringify(msg)
            // alert(msg_string)

            var ws = new WebSocket('{{ AP_WS_EXTERNAL_ADDRESS }}');
            ws.onopen = function () {
                $('.connecting_status').text('connected');
                ws.send(JSON.stringify({
                    'event_type': 'RegisterWSConnectionForPublisher',
                    'event': msg_string // colon in source url messes up the send (e.g., rtmp://)
                }));
            }
            ws.onclose = function () { $('.connecting_status').text('disconnected'); }
            ws.onmessage = function (msg_event) {
                console.log(msg_event);
                alert(msg_event.data);
            }
        }

    </script>

</body>

</html>