<!doctype html>
<html>

<head>
    <title>GNOSIS Client</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="centered">
        <h1>Add Subscriber</h1>
        <label for="subscriber_id"> Subscriber ID: </label>
        <input type="text" id="subscriber_id" name="subscriber_id" value="subscriber_id"><br><br>
        <label for="subscription">Subscription (Query): </label>
        <textarea id="subscription_text" name="subscription_text" cols="70" rows="15"></textarea><br><br>
        <input type="submit" id="register_subscriber" value="Subscribe">
    </div>

    <script>

        const register_subscriber = document.getElementById('register_subscriber')
        register_subscriber.addEventListener("click", registerSubscriber);

        function registerSubscriber(event) {
            var subscriber_id = document.getElementById('subscriber_id').value
            var query = document.getElementById('subscription_text').value

            msg = {
                "subscriber_id": subscriber_id,
                "query": query
            }

            msg_string = JSON.stringify(msg)

            var ws = new WebSocket('{{ AP_WS_EXTERNAL_ADDRESS }}');
            ws.onopen = function () {
                $('.connecting_status').text('connected');
                ws.send(JSON.stringify({
                    'event_type': 'RegisterQuery',
                    'event': msg_string
                }));
            }
            ws.onclose = function () { $('.connecting_status').text('disconnected'); }
            ws.onmessage = function (msg_event) {
                console.log(msg_event);
                // the query to go all the way to gnosis
                // a query id should be generated and sent back
                // you receive the id here and use it to load a new window
                window.location.replace("{{ url_for('query_detail', query_id='') }}" + msg_event.data);
            }
        }

    </script>

</body>

</html>