{% extends 'base.html' %}
{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
{% endblock %}




{% block title %}Viewing query: {{ query_id }}{% endblock %}

{% block content %}
<h1>Viewing Details for Query: {{ query_id }}</h1>
<h3>Status: <small class="connecting_status">disconnected</small></h3>

{#
<section class="panel radius">
    <img id="image_screen" src="" height="400" width="300">
</section>
#}
<section class="panel radius">
    <li><strong>Events Received: </strong><span class="events_received">0</span></li>
    <h3>Event Message:</h3>
    <textarea class="message_pane" style="width:800px; height:1200px;" ></textarea>
<!--
    <ul class="message_pane">
    </ul> -->
</section>

{% endblock %}

{% block body_end_extra_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/foundation.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>



    <script>
        // var change_img = function(img_url){
        //     $('#image_screen').prop("src", img_url);
        // };
        var query_id = "{{ query_id }}";
        var events_received = 0;
        var ws = new WebSocket('{{ AP_WS_EXTERNAL_ADDRESS }}');
        ws.onopen = function () {
             $('.connecting_status').text('connected');
            ws.send(JSON.stringify({
                'event_type': 'RegisterWSConnectionForQuery',// replace key with var from templated, which should be set form the conf.py
                'event': JSON.stringify({
                    'query_id': query_id,
                })
            }));
        }
        ws.onclose = function () { $('.connecting_status').text('disconnected'); }
        ws.onmessage = function(msg_event) {
            console.log(msg_event);
            var data = $.parseJSON(msg_event.data);
            var event_data = $.parseJSON(data.event);
            events_received += 1;
            var prettyJSONstr = JSON.stringify(event_data, null, 2);
            $('.message_pane').val(prettyJSONstr);
            $('.events_received').text(events_received);
            // var date = new Date();
            // var options = {
            //     weekday: "long", year: "numeric", month: "short",
            //     day: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit"
            // };
            // var event_received_time = date.toLocaleTimeString("en-ie", options) + ":" + date.getMilliseconds();

            // var event_fps = 30;
            // var fist_ms_wait_per_frame = 0;
            // var calculated_ms_wait = 1000 / event_fps;
            // var ms_wait_per_frame = fist_ms_wait_per_frame;

            // for(let img_url of event_data.event_img_urls){
            //     setTimeout(function(){change_img(img_url)}, ms_wait_per_frame)
            //     ms_wait_per_frame = calculated_ms_wait;
            // }
                // $('.message_pane').prepend(
                //     '<dl>' +
                //         // '<dt>Event Data (' + event_received_time + '): </dt>' +
                //         '<dt>' + data.event + '</dt>' +
                //     '</dl>'
                // );
            //  $('.update_subscription').prop("disabled", null);
        }

        // $('.subscription').keypress(function(e) {
        //     if (e.which === 13) {
        //         $('.update_subscription').click();

        //     }
        // });
        // $('.update_subscription').click(function() {
        //     // document.title = 'Websocket Interface - ' + uid + ' - ' + subscription + ' - ' + $('.connecting_status').text();
        //     ws.send(JSON.stringify({
        //         event: JSON.stringify({
        //             'test': 'content, total msg: ' + events_received,
        //         })
        //     }));
        //     $('.update_subscription').prop("disabled", "disabled");
        //     // $('.subscription').prop("disabled", "disabled");
        //     // $('.current_subscription').text(subscription);
        // });
    </script>

{% endblock %}


