{% extends 'base.html' %}
{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/ovenplayer.js') }}"></script>
{% endblock %}




{% block title %}Viewing query: {{ query_id }}{% endblock %}

{% block content %}
<h1>Viewing Details for Query: {{ query_id }}</h1>
<h3>Status: <small class="connecting_status">disconnected</small></h3>

<section class="panel radius">
    <li><strong>Events Received: </strong><span class="events_received">0</span></li>

    <h3>Live Streaming:</h3>
    <!-- Wrapper element for sizing or positioning the player -->
    <div class="player-wrapper">
        <!-- OvenPlayer will be initialized inside this element. -->
        <div id="livestream-area"></div>
    </div>


    <h3>Event Message:</h3>
    <textarea class="message_pane" style="width:800px; height:1200px;" ></textarea>
<!--
    <ul class="message_pane">
    </ul> -->
</section>

{% endblock %}

{% block body_end_extra_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        var stream_sources =   [
            {
                label: 'Videostream',
                // Set the type to 'webrtc'
                type: 'webrtc',
                // Set the file to WebRTC Signaling URL with OvenMediaEngine
                file: '{{ SUBSCRIBER_MEDIA_SERVER_URL }}{{ query_id }}'
            }
        ]
        var stream_options = {
            autoStart: true, mute: true, title: "Query: {{ query_id }}", controls: true,
            webrtcConfig: {
                "timeoutMaxRetry": 10,
                "connectionTimeout": 10000
            },
            sources: stream_sources
        }
        // Initialize OvenPlayer
        // var ovenPlayer = OvenPlayer.create('livestream-area', stream_options)

        var ovenPlayer = null;

        function loadOvenPlayer () {

            if (ovenPlayer !== null){
                ovenPlayer.remove();
                ovenPlayer = null;

                // // Reload OvenPlayer when error occured.
                // ovenPlayer.on('error', function () {

                //     // Wait 1 sec and relaod.
                //     setTimeout(function () {

                //         loadOvenPlayer();
                //     }, 1000)
                // });
            }

            ovenPlayer = OvenPlayer.create('livestream-area', stream_options)
            // if(ovenPlayer.getState() == 'error'){
            //     ovenPlayer = OvenPlayer.create('livestream-area', stream_options)

            //     // Reload OvenPlayer when error occured.
            //     ovenPlayer.on('error', function () {

            //         // Wait 1 sec and relaod.
            //         setTimeout(function () {

            //             loadOvenPlayer();
            //         }, 1000)
            //     });
            // }
        }

        loadOvenPlayer();

        ovenPlayer.play();


        var query_id = "{{ query_id }}";
        var events_received = 0;
        var ws = new WebSocket('{{ AP_WS_EXTERNAL_ADDRESS }}');
        ws.onopen = function () {
            $('.connecting_status').text('connected');
            ws.send(JSON.stringify({
                'event_type': 'RegisterWSConnectionForQuery',// replace key with var from templated, which should be set form the conf.py
                'event': JSON.stringify({
                    'query_id': query_id,
                })
            }));
        }

        ws.onclose = function () { $('.connecting_status').text('disconnected'); }
        ws.onmessage = function(msg_event) {
            // console.log(msg_event);
            var data = $.parseJSON(msg_event.data);
            var event_data = $.parseJSON(data.event);
            events_received += 1;
            var prettyJSONstr = JSON.stringify(event_data, null, 2);
            $('.message_pane').val(prettyJSONstr);
            $('.events_received').text(events_received);

            if (ovenPlayer !== null && ovenPlayer.getState() == 'error'){
                loadOvenPlayer();
                ovenPlayer.play();
            }
        }

    </script>


{% endblock %}


